@model finalcollege.Models.Registermodel

@{
    ViewBag.Title = "AddnewAdmin";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/Content/css/AddNewAdmin.css" rel="stylesheet" />
<script src="~/Scripts/prevent/preventback.js"></script>
<script src="~/Scripts/admin/newadmin.js"></script>
<h4 class="view">@ViewBag.email</h4>
<h4 class="view1">@ViewBag.create</h4>
<div class="form">

    @using (Html.BeginForm("AddnewAdmin", "Admin", FormMethod.Post, new { onsubmit = "return validateForm();" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Add Admin</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                <label for="FirstName" class="control-label col-md-2">FirstName</label>
                <div class="col-md-10">
                    <input type="text" id="FirstName" name="FirstName" placeholder="Enter First Name" class="form-control" onfocusout="checkFirstName()" />
                    <span class="error" id="errorFirstname"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="LastName" class="control-label col-md-2">LastName</label>
                <div class="col-md-10">
                    <input type="text" id="Lastname" name="Lastname" placeholder="Enter Last Name" class="form-control" onfocusout="checkLastname()" />
                    <span class="error" id="errorLastname"></span>
                </div>
            </div>



            <div class="form-group">
                <label class="control-label col-md-2">Gender</label>
                <div class="col-md-10">
                    <label class="radio-inline">
                        <input type="radio" name="Gender" value="Male"> Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="Gender" value="Female"> Female
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="Gender" value="Others"> Others
                    </label>
                    <span class="error" id="errorgrnder"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="PhoneNumber" class="control-label col-md-2">PhoneNumber</label>
                <div class="col-md-10">
                    <input type="text" id="PhoneNumber" name="PhoneNumber" placeholder="Enter Phone Number" class="form-control" onfocusout="checkPhonenumber()" />
                    <span class="error" id="errorphonenumber"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="Address" class="control-label col-md-2">Address</label>
                <div class="col-md-10">
                    <input type="text" id="Address" name="Address" placeholder="Enter Address" class="form-control" onfocusout="checkaddress()" />
                    <span class="error" id="erroraddress"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="Email" class="control-label col-md-2">Email</label>
                <div class="col-md-10">
                    <input type="text" id="Email" name="Email" placeholder="Enter Email" class="form-control" onfocusout="checkEmail()" />
                    <span class="error" id="erroremail"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="Password" class="control-label col-md-2">Password</label>
                <div class="col-md-10">
                    <input type="password" id="Password" name="Password" placeholder="Enter Password" class="form-control" onfocusout="checkPassword()" />
                    <span class="error" id="errorpass"></span>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" id="create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Adminlist", "Admindetails", "Admin", new { @class = "Admindetails" })
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
