@model IEnumerable<finalcollege.Models.Coursemodel>

@{
    ViewBag.Title = "PcProgram";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/Content/css/table.css" rel="stylesheet" />
<script src="~/Scripts/prevent/preventback.js"></script>
<br />
<h2>PCProgram</h2>

<p>
    @Html.ActionLink("Create New Course", "CreateCourseProfessional", "Admin", new { @class = "createnew" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Program)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courseid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coursename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Program)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courseid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coursename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCoursePc", new { id = item.ID }, new { @class = "edit" })<br /><br />
                @Html.ActionLink("Delete", "DeletePc", new { Courseid = item.Courseid }, new { @class = "delete", onclick = "return confirm('Are you sure you want to delete this student?');" })
            </td>
        </tr>
    }

</table>



<span>
    @Html.ActionLink("Backto Course", "Course", "Admin", new { @class = "back" })
</span>