@model finalcollege.Models.Registermodel

@{
    ViewBag.Title = "Forgetpassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/Signup.css" rel="stylesheet" />
<script src="~/Scripts/Home/Signup.js"></script>
<div class="form">

    @using (Html.BeginForm("Forgetpassword", "Home", FormMethod.Post, new { onsubmit = "return validate();" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="viewbag">@ViewBag.Message</h4>
        <h2>Change Password</h2>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { placeholder = "Enter Phonenumber", @class = "form-control", id = "PhoneNumber", onfocusout = "checkPhonenumber()" } })
                <span class="error" id="errorphonenumber"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Enter Email", @class = "form-control", id = "Email", onfocusout = "checkEmail()" } })
                <span class="error" id="erroremail"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Enter Password", @class = "form-control", id = "Password", onfocusout = "checkPassword()" } })
                <span class="error" id="errorpass"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="ConfirmPassword" class="control-label col-md-2" id="lable">Confirm password</label>
            <div class="col-md-10">
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Enter Confirmpassword" onfocusout="checkpasswordc()" />
                <span class="error" id="errorconpass"> </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" id="create" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <p class="signin">
        @Html.ActionLink("Signin", "Signin", "Home", new { @class = "siginli" })
    </p>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
